{% sw_extends '@Storefront/storefront/layout/header/search.html.twig' %}

{% block layout_header_search %}
	{{ parent() }}
	{% if config('Clerkio.config.instantSearchEnabled') == 'true' %}
		<span
				class="clerk"
				data-template="@{{ config('Clerkio.config.instantSearchContent') }}"
				data-instant-search-suggestions="{{ config('Clerkio.config.instantSearchNumberOfSuggestions') }}"
				data-instant-search-categories="{{ config('Clerkio.config.instantSearchNumberOfCategories') }}"
				data-instant-search-pages="{{ config('Clerkio.config.instantSearchNumberOfPages') }}"
				data-instant-search-positioning="{{ config('Clerkio.config.instantSearchDropdownPositioning') ? config('Clerkio.config.instantSearchDropdownPositioning') : 'left' }}"
				data-instant-search="{{ config('Clerkio.config.instantSearchInputSelector') ? config('Clerkio.config.instantSearchInputSelector') : '.header-search-input' }}"
				data-instant-search-pages-type="{{ config('Clerkio.config.instantSearchPageTypes') ? config('Clerkio.config.instantSearchPageTypes') : 'all' }}">
		</span>
	{% endif %}
{% endblock %}